

<div class="min-h-screen bg-[#f1f5f9] flex flex-col font-sans">
  
  <!-- BARRA DE NAVEGACIÓN SUPERIOR (Global) -->
   <nav *ngIf="showNavbar()" class="bg-slate-900 text-white shadow-lg sticky top-0 z-50">
    <!-- BOTONES DEL MENÚ -->
      <div class="flex gap-4">
        <!-- Botón Inicio / Dashboard -->
        <a routerLink="/dashboard" 
           routerLinkActive="bg-slate-700 text-white shadow-md border-slate-600"
           class="flex items-center px-4 py-2 rounded-lg text-sm font-bold text-slate-300 hover:text-white hover:bg-slate-800 border border-transparent transition-all">
           🏠 Inicio
        </a>

        <!-- Botón Médico -->
        <a *ngIf="tieneAcceso('1197') || tieneAcceso('1198') || tieneAcceso('79') || tieneAcceso('1364')" 
           routerLink="/medical-form" 
           routerLinkActive="bg-indigo-600 text-white shadow-indigo-500/50 border-indigo-500"
           class="flex items-center px-4 py-2 rounded-lg text-sm font-bold text-slate-300 hover:text-white hover:bg-slate-800 border border-transparent transition-all">
           📋 SAINNAVV
        </a>

        <!-- Botón Laboratorio (Ajustar *ngIf con el código de permiso que te den luego) -->
        <a routerLink="/laboratorio" 
           routerLinkActive="bg-emerald-600 text-white shadow-emerald-500/50 border-emerald-500"
           class="flex items-center px-4 py-2 rounded-lg text-sm font-bold text-slate-300 hover:text-white hover:bg-slate-800 border border-transparent transition-all">
           🔬 LABORATORIO
        </a>
      </div>
  </nav>

  <!-- AQUÍ SE CARGAN TUS COMPONENTES (PÁGINAS) AUTOMÁTICAMENTE -->
  <main class="flex-1 relative">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer global opcional -->
  <footer class="py-4 text-center text-xs text-slate-400 border-t bg-white">
    <p>Hospital Pediatrico Avelino Castelan &copy; 2026 - Área de Sistemas</p>
  </footer>

</div>